<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="{% url 'main:main' %}">朝陽購物中心</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'main:main' %}#myPage">首頁</a></li>
        <li><a href="{% url 'main:main' %}#two">產品</a></li>
        <li><a href="{% url 'main:main' %}#three">關於</a></li>
        {% if user.is_authenticated %}
    	<li><a href="{% url 'account:logout' %}">登出 ({{ user.username }})</a></li>
  		{% else %}
        <li><a href="{% url 'account:login' %}">登入</a></li>
        <li><a href="{% url 'account:register' %}">註冊</a></li>
        {% endif %}
        <li><a href="{% url 'shoppingcar:shoppingcar' %}">購物車</a></li>
      </ul>
    </div>
  </div>
</nav>